<a href="https://colab.research.google.com/github/Bashashkin/Lab-1/blob/main/Lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# № 5.2.1

Определите значение   ![image.png]()  где sgn - сигнум-функция, а x и y - вещественные числа:
![image.png]()

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_01.
#
# Выполнил: Башашкин А.М.
# Группа: АДЭУ-221
# E-mail: alesha_2010@list.ru

def sgn(a):
  if a > 0:
    res = 1
    return res
  elif a < 0:
    res =- 1
    return res
  elif a == 0:
    res=0
    return res

def znach(a,b):
  if (sgn(b)-(abs(a))**(1/2)) == 0:
    return print('Ошибка! Проверьте ОДЗ')
  else:
    z = (sgn(a)+b**2)/(sgn(b)-(abs(a))**(1/2))
    return z

In [ ]:
x = float(input('x = '))
y = float(input('y = '))
print(round(znach(x,y),2))

x = 9
y = 0
-0.33

# № 5.2.2

Дан список температурных изменений в течение дня (целые числа). Известно, что измеряющее устройство иногда сбоит и записывает отсутствие температуры (значение None).
Выведите среднюю температуру за наблюдаемый промежуток времени, предварительно очистив список от неопределенных значений. Гарантируется, что хотя бы одно определенное значение в списке есть.

In [ ]:
def avg(data):
  data_avg = sum(data) / len(data)
  return data_avg 

def cleared_data(data):
  for x in range(1, len(data) + 1):
    if data[x-1] == None:
      data.remove(data[x])
  return data

In [ ]:
data = list()
n = int(input('Кол-во измерений: '))
for x in range(1,n+1):
      x = str(input('Измерение {}-е : '.format(x)))
      if x == '-':
        x = None
      else:
        x = int(x)
        data.append(x)
data = cleared_data(data)
data_avg = avg(data)

print('Cредняя температура', round(data_avg,2))

# --------------
# Пример вывода:
#
# Кол-во измерений: 3
# Измерение 1-е: 10
# Измерение 2-е: -
# Измерение 3-е: 20
# Средняя температура: 15.00

Кол-во измерений: 3
Измерение 1-е : 10
Измерение 2-е : -
Измерение 3-е : 20
Cредняя температура 15.0

# № 5.2.3

Выведите все счастливые номера билетов в диапазоне от a до b (положительные целые числа, a<b), если известно, что счастливым считается номер, у которого количество четных цифр равно количеству нечетных.

In [ ]:
def is_lucky(num):
  count = list()
  count_n = list()
  x = num%10
  y = num//10
  if x % 2 == 0:
    count.append(x)
  else:
    count_n.append(x)
  if y % 2 == 0:
    count.append(y)
  else:
    count_n.append(y)
  if len(count) == len(count_n):
    return nums.append(num)

In [ ]:
nums = list()
lucky = list()
a = int(input('Первый номер билета '))
b = int(input('Второй номер билета '))

for x in range(a,b+1):
  is_lucky(x)

print(' '.join(map(str, nums)))

# --------------
# Пример вывода:
#
# Первый номер билета: 10
# Последний номер билета: 25
# 10 12 14 16 18 21 23 25

Первый номер билета 10
Второй номер билета 25
10 12 14 16 18 21 23 25

# № 5.2.4

Дата характеризуется тремя натуральными числами: день, месяц и год. Учитывая, что год может быть високосным, реализуйте две функции, которые определяют вчерашнюю и завтрашнюю дату.

In [ ]:
def is_leap(year):
  if year % 4 ==0 and year %100 != 0 or year % 400 == 0:
    feb_day=29
  else:
     feb_day = 28
  return feb_day

def days(month, year):
  month_day_31=[1,3,5,7,8,10,12]
  month_day_30=[4,6,9,11]
  if month in month_day_31:
    date=31
  elif month in month_day_30:
    date=30
  else:
    date=is_leap(year)
  return date

def previous_date(day, month, year):
  if day == 1:
    month -=1
    if month == 0:
      year -=1
      month=12
      day=days(month, year)
    else:
      year=year
      month = month
      day=days(month, year)
  else:
    day -=1
    month=month
    year=year
  return day, month, year

def next_date(day, month, year):
  if day == days(month, year):
    month += 1
    if month == 13:
      month=1
      year+=1
      day=1
    else:
      month=month
      day=1
      year=year
  else:
    day+=1
    month = month
    year=year
  return day, month, year

In [ ]:
dmn = input('День, месяц, год через пробел: ').split()
print(dmn)
dmn = map(int, dmn)
day, month, year = dmn

day_next, month_next, year_next = next_date(day, month, year)
day_prev, month_prev, year_prev = previous_date(day, month, year)

print(f'Предыдущий день: {day_prev}/{month_prev}/{year_prev}')
print(f'Следующий день: {day_next}/{month_next}/{year_next}')

# --------------
# Пример вывода:
#
# День, месяц, год через пробел: 1 3 2000
# Предыдущий день: 29/02/2000
# Следующий день: 02/03/2000

День, месяц, год через пробел: 1 3 2000
['1', '3', '2000']
Предыдущий день: 29/2/2000
Следующий день: 2/3/2000



---

# № 5.2.6

Дан список из чисел.

Определите их НОК (наименьшее общее кратное) и НОД (наибольший общий делитель).

In [ ]:
def nod(first, second):
  if first > second:
    a = second
  else:
    a = first
  for i in range(1,a+1):
    if (first % i == 0) and (second % i == 0 ):
      nod = i
  return nod


def nok(first, second):
  if first > second:
    a = first
  else:
    a = second
  while(True):
    if (a % first == 0) and (a % second == 0):
      return a
    a += 1

def nod_nums(nums):
  for x in range(1, len(nums) - 1):
    nums[x] = nod(nums[x-1], nums[x])
  return nums[x]

def nok_nums(nums2):
  for x in range(1, len(nums2)):
    nums2[x] = nok(nums2[x-1], nums2[x])
  return nums2[x]

In [ ]:
nums = input("Введите числа ").split()
nums = list(map(int,nums))
nums1 = nums.copy()
nod1 = nod_nums(nums)
nok1 = nok_nums(nums1)
print("НОД=",nod1)
print("НОК=",nok1)

Введите числа 8 10 14
НОД= 2
НОК= 280

# № 5.2.11

Используя шифр Цезаря (достаточно только букв русского алфавита, знаки препинания не изменяются), зашифруйте, а затем расшифруйте введенную строку.

In [ ]:
def cezar(message):
  alfavit = 'АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЬЭЮЯ'
  itog = ""
  for i in message:
    mesto = alfavit.find(i)
    new_mesto = mesto + smeshenie
    if i in alfavit:
      itog += alfavit[new_mesto]
    else:
      itog += i
  return itog

In [ ]:
smeshenie = int(input('Смещение: '))
message = input('Введите сообщение: ').upper()

res = cezar(message)
print(res)

Смещение: 3
Введите сообщение: АБ
ГД

# 5.2.8
Дана строка s и символ k. Реализуйте функцию, рисующую рамку из символа k вокруг данной строки, например:
![image.png]()

In [ ]:
def print_with_border(string, char):
    s = list(map(str, string))
    print(char * (len(s)+2))
    print(char + string + char)
    print(char * (len(s)+2))

In [ ]:
a = input('Введите строку: ')
b = input('Введите символ: ')

print_with_border(a, b)

# --------------
# Пример вывода:
#
# Введите строку: Просто текст
# Введите символ: +
# ++++++++++++++
# +Просто текст+
# ++++++++++++++

Введите строку: Привет мир
Введите символ: *
************
*Привет мир*
************

# № 5.2.14
Напишите функцию, которая принимает неограниченное количество числовых аргументов и возвращает кортеж из двух списков:

• отрицательных значений (отсортирован по убыванию);

• неотрицательных значений (отсортирован по возрастанию).

In [ ]:
def split_numbers(*args):
  positive = []
  negative = []
  for x in args:
    if x < 0:
      negative.append(x)
      negative_sort = sorted(negative)
      negative_sort.reverse()
    else:
      positive.append(x)
      positive_sort = sorted(positive)
  return negative_sort, positive_sort

In [ ]:
print(split_numbers(1, 4, -5, 0, -33))

# --------------
# Пример вывода:
#
# ([-5, -33], [0, 1, 4])

([-5, -33], [0, 1, 4])

# № 5.2.16

Составьте две функции для возведения числа в степень: один из вариантов реализуйте в рекурсивном стиле.

In [ ]:
def pow(value, power):
  res = value
  while power - 1 > 0:
    res = res * value
    power -= 1
  return res
def pow_rec(value, power):
  if power == 0:
    return 1
  else:
    return value * pow_rec(value, power-1)

In [ ]:
a = int(input('a = '))
b = int(input('Степень = '))
c1 = pow(a, b)
c2 = pow_rec(a, b)

print(c1)
print(c2)

a = 3
Степень = 2
9
9

# № 5.2.17
Дано натуральное число. Напишите рекурсивные функции для определения:

• суммы цифр числа;

• количества цифр в числе.

In [ ]:
def digits_sum(x):
  if x == 0:
    return 0
  else:
    return (x%10) + digits_sum(x//10) 

def digits_count(x):
  if x == 1:
    return 1
  else:
    return 1 + digits_count(x//10)

In [ ]:
x = int(input('x = '))
print(digits_sum(x))
print(digits_count(x))

# --------------
# Пример вывода:
#
# 15
# 5

x = 1234
10
4